body{
    background-color: lightblue;
}

div{
    margin:0px auto;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 50px 0px black, 25px 42px 0px -5px orange,
        -6px 70px 0 -12px,
         10px 80px 0 -12px,
        28px 85px 0 -12px,
         47px 80px 0 -12px,
        64px 70px 0 -12px,
         30px 180px 0px -4px,
        30px 225px 0px -4px,
        30px 270px 0px -4px,
        
        30px 40px 0px 80px white,
        30px 40px 10px 80px black,
         30px 240px 0px 100px white,
         30px 240px 10px 100px black,
        0px 1000px 0px 700px gray
        ;
}