:root {
  --bs-body-font-family: "Poppins", sans-serif;
}
body {
  min-width: 450px;
}
.flex-w-30 {
  flex: 1;
}
.flex-w-70 {
  flex: 2;
}
.height-min-200 {
  min-height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

[data-bs-theme*="dark"] .dark {
  display: none;
}
[data-bs-theme*="dark"] .light {
  display: block;
}

[data-bs-theme*="light"] .dark {
  display: block;
}
[data-bs-theme*="light"] .light {
  display: none;
}
.button {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: none;
}
button {
  transition: all 0.2s ease-in-out;
  border-radius: 3px !important;
}
.dark {
  color: rgba(79, 79, 79, 0.848);
}
.light {
  color: white;
}
.btn-dir {
  border: none;
}
button:hover {
  box-shadow: var(--bs-box-shadow-lg);
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul li {
  padding: 10px 5px;
  transition: all 0.2s ease-in-out;
}
ul li:hover {
  box-shadow: var(--bs-box-shadow-sm);
}

.disabled {
  color: rgba(128, 128, 128, 0.825);
}
.btn-outline-custom {
  border: 1px solid #e3eaa7;
  color: #000;
}
.btn-outline-custom:hover {
  background-color: #86af49;
  color: white;
}
.active {
  border: 1px solid #86af49 !important;
  background-color: #86af49 !important;
  color: white !important;
}
[data-bs-theme*="dark"] .btn-outline-custom {
  color: white !important;
}
.border {
  border: 0.5px solid #86af49 !important;
}
[data-bs-theme*="dark"] border {
  border: 0.5px dotted #e3eaa7 !important;
}
.btn-custom {
  background-color: #86af49 !important;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.btn-custom:hover {
  transform: translateY(-5px);
}
.border-bottom-0 {
  border-bottom: 0px !important;
}
.border-top-0 {
  border-top: 0px !important;
}
input[type="radio"] {
  accent-color: #86af49;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.lh-1 {
  line-height: 1.5 !important;
}
