*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2,p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}
h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
main{
    font-family: "Popins",sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9,#6cdbed);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blure(2rem);
    display: flex;
}
.circle1, .circle2{
    background: white;
    background:
     linear-gradient(to right bottom,
      rgba(255,255,255,1),
      rgba(255,255,255,0.5));
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position:absolute;

}

.circle1{
top:2%;
right: 15%;
}
.circle2{
bottom: 2%;
left: 15%;
}
.dashboard{
flex:1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
text-align: center;
border-radius: 2rem;
background: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.5));
}

.games{
    flex: 2;
}
.link{
  display: flex; 
  margin: 2rem 0;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2{

    padding: 0rem 2rem;
}
.pro{
    background: linear-gradient(to right top,#65dfc9,#6cdbed);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    /* display: flex; */
    position: relative;
}
.pro img{
    position: absolute;
    top: -10%;
}
.pro h2{
    width: 40% ;
    color:white;
    font-weight: 600;
}

.status{
    margin-bottom: 3rem;

}
.status input{
    background: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.5));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}
.games{
    margin:5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left top,rgba(255,255,255,0.3),rgba(255,255,255,0.9));
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.753);
    
    justify-content: space-between;

}
.progress{
background:linear-gradient(to right top,#65dfc9,#6cdbeb) ;
width: 100%;
height: 25%;
border-radius: 1rem;
position: relative;
overflow: hidden;
}
.progress::after{
    content:'';
    width: 100%;
    height: 100%;
    background-color: rgb(236,236,236);
    position: absolute;
    left:60%;
}
.card-info{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
.percentage{
    font-weight: bold;
    background: linear-gradient(to right top,#65dfc9,#6cdbed);
   -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent;
}